.wrapper {
  display: flex;
  flex-direction: column;

  max-height: 500px;
  overflow: auto;
}

.marker {
  display: flex;
  align-items: center;
  height: 44px;
  flex-shrink: 0;
  padding-right: 10px;

  & > svg {
    flex-shrink: 0;
  }
}

.name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
  text-overflow: ellipsis;
}

.cross {
  cursor: pointer;
}

.marker + .marker {
  margin-top: 10px;
}
