@import "../../../../styles/variables";

.wrapper {
  display: flex;
  height: 100%;
}

.poiPanel {
  width: 80px;
}

.panel {
  width: 480px;
  box-sizing: border-box;
  padding: 24px;
}

.descriptions {
  height: calc(100% - 34px);
}

.map {
  flex: 1;
  background-color: $gray1;
}
