@import "../../styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid $border-color;
}

.buttons {
  display: flex;
  align-items: center;

  & > div + div {
    margin-left: 10px;
  }
}
