@import "../../../styles/variables";

.wrapper {
  padding: 20px;
  min-width: 400px;
}

.content {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;

  & > div + div {
    margin-left: 20px;
  }
}
